body { 
	background: url(https://st4.depositphotos.com/4759271/20308/i/1600/depositphotos_203089014-stock-photo-fishing-background-pike-fish-backdrop.jpg.jpg);
	}


h1 {
	text-align: center;
	color: #FFFFFF 	
	}

#video {display:block; margin:15px auto 25px;}
	
.text {color: #FFFFFF}
